.user-container {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: end;
	border-radius: 10px;
	padding: 10px;
}

.user-container > div {
	display: flex;
	gap: 5px;
	align-items: end;
}
.user-container > div > h1 {
	padding: 4px;
}

.user-container > div > img {
	width: 50px;
	height: 50px;
	border-radius: 100%;
	overflow: hidden;
}

/* - contents - */
.contents-container {
	width: 100%;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: start;
	gap: 20px;
	padding: 10px;
}

.contents-header {
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.contents-header > h2 {
	font-size: 15px;
	font-weight: bold;
}
.contents-header > a {
	display: flex;
	align-items: center;
	gap: 5px;
	border-radius: 5px;
	overflow: hidden;
	padding: 2px 5px;
}
.contents-header > a:hover {
	background-color: lightgray;
}
.contents-header > a > img {
	width: 10px;
	height: 10px;
}

/* - contents list - */
.contents-container > ol {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding: 10px;
}
